.section-index {
    margin: 1rem auto 1rem auto;

    // If media has hover capability
    @media only screen and (hover: hover) {
        .card {
            transition: all $page-float-out-time ease;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .card:hover {
            transform: scale(1.01);
            box-shadow: 0 2px 1.5rem .2rem rgba(0, 0, 0, 0.14),
                0 3px 2px -2px rgba(0, 0, 0, 0.12),
                0 1px 6px 0 rgba(0, 0, 0, 0.2)
        }

    }
}