.section-index {
    margin: 1rem auto 1rem auto;


    // If media has hover capability
    @media only screen and (hover: hover) {
        .card {
            transition: all $page-float-out-time ease;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .card:hover {
            transform: scale(1.01);
            box-shadow: 0 2px 1.5rem .2rem rgba(0, 0, 0, 0.14),
                0 3px 2px -2px rgba(0, 0, 0, 0.12),
                0 1px 6px 0 rgba(0, 0, 0, 0.2)
        }

    }
}

.card {

    .card-image {
        width: 100%;
        // height changes the height of the card image
        height: 20rem;

        &--art {
            background-image: linear-gradient(to bottom, rgba(#fff, .2), rgba(#fff, .2)),
                url(../img/mountains.svg);
            background-size: cover;
            background-position: 50% 40%;
        }

        &--astrophotography {
            background-image: url(https://astrophotography.andrewpang.org/photos/solar-system/moon/highlights/close-ups/Moon_200308_g3_ap301.jpg);
            background-size: cover;
        }

        &--UCSC-TrailMapping {
            background-image: linear-gradient(to bottom, rgba(#fff, .2), rgba(#fff, .2)),
                url(https://projects.andrewpang.org/UCSC-TrailMapping/UCSC-TrailMapping-CardPicture.jpeg);
            background-size: 150% auto;
            background-position: 50% 40%;
        }

        &--CMPS142 {
            background-image: url(../img/cmps142-ML-photo-min.jpg);
            background-size: cover;
            background-position: 0% 50%;
        }

        &--web-resources {
            background-image: url(../img/web-resources-photo-min.jpg);
            background-size: cover;
        }

        &--programming-resources {
            background-image: url(../img/programming-resources-photo-min.jpg);
            background-size: cover;
            background-position: 0% 35%;
        }

        &--git {
            background-image: url(../img/git-photo-min.jpg);
            background-size: cover;
        }
    }

    .card-content{

        .card-description {

            margin: 1rem 0 0 0;
        }
    }
}