*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is.
    // 10/16 = .625
    font-size: 62.5%;

}

body {
    // For sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;


    box-sizing: border-box;
    scroll-behavior: smooth;

    background-color: #ffffff;
}

main {
    flex: 1 0 auto;
}